<% provide(:title, "About") %>

<h1>About the Extra Curricular Events List</h1>
<p>I want to support computer science students by attending their events, when they
are being held in the Grinnell area, but I am terrible at looking at the official
event calendar .... and I usually do not remember what teams or clubs or other groups
that they belong to.  So, this website is an attempt at collecting self-reported 
events from students and organizing them on a single page where I can look to see
what's happening today and the week ahead.</p>
<p>I can't guarantee that I attend your event, but if you enter it on this site, it is
more likely that I will be there ... and it is also gives your classmates the information
if they would like to get out of the dorm and the classroom and do something ... dare we say ...
FUN!?!?!</p>

