<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  Contact Barbara Z Johnson with any questions regarding this webpage.  You can find
  her main website at: 
  <a href="http://www.cs.grinnell.edu/~johnsonba/">Barbara Z. Johnson's Webpage</a>.
</p>