<div class="center jumbotron">
	<h1>Extra Curricular Events List</h1>
	<p>This page should (eventually) list the extra curricular events that computer
	science students (and faculty)  will be participating in during the coming week,
	including the current date. </p>
	
	<p>Fellow students are highly encouraged to support their colleagues by attending
	these events.</p>
	
	<%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

