<footer class="footer">
  <small>
    This page is not affiliated with the official Grinnell College website.
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="https://www.grinnell.edu/calendar">College Events</a></li>
    </ul>
  </nav>
</footer>